astroid==2.4.2
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.1
cssselect2==0.3.0
defusedxml==0.6.0
drawSvg==1.6.1
imageio==2.9.0
isort==4.3.21
lazy-object-proxy==1.4.3
mathutils==2.81.2
mccabe==0.6.1
numpy==1.19.1
Pillow==7.2.0
pycparser==2.20
pylint==2.5.3
six==1.15.0
tinycss2==1.0.2
toml==0.10.1
utils==1.0.1
webencodings==0.5.1
wrapt==1.12.1
